<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="june.footballmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission android:name="june.footballmanager.permission.MAPS_RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="june.footballmanager.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="june.footballmanager.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requiredForAllUsers="false"
        android:theme="@style/AppTheme" >

        <!-- receiver -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="june.footballmanager" />
            </intent-filter>
        </receiver>

        <!-- service -->
        <service android:name=".GcmIntentService" />

        <!-- meta data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDMXnN21FqymrWiKS-MavA_fh9LfUgv-Qo" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PlayerRegisterActivity"
            android:label="@string/title_activity_player_register"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".TeamRegisterActivity"
            android:label="@string/title_activity_team_register"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".PlayerAccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".TeamAccountActivity"
            android:label="@string/title_activity_account" >
        </activity>
        <activity
            android:name=".AddMatchActivity"
            android:label="@string/title_activity_add_match"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".MatchDetailActivity"
            android:label="@string/title_activity_match_detail" >
        </activity>
        <activity
            android:name=".SelectLocationActivity"
            android:label="@string/title_activity_select_location" >
        </activity>
        <activity android:name=".MapTest" >
        </activity>
        <activity
            android:name=".UpdateTeamInfoActivity"
            android:label="@string/title_activity_edit_team_info" >
        </activity>
        <activity
            android:name=".UpdatePlayerInfoActivity"
            android:label="@string/title_activity_edit_team_info" >
        </activity>
        <activity
            android:name=".SelectGroundActivity"
            android:label="@string/title_activity_select_ground" >
        </activity>
        <activity
            android:name=".FindPasswordActivity"
            android:label="@string/title_activity_find_password" >
        </activity>
        <activity
            android:name=".SetMatchConditionActivity"
            android:label="@string/title_activity_set_search_condition" >
        </activity>
        <activity
            android:name=".SelectTimeActivity"
            android:label="@string/title_activity_select_time" >
        </activity>
        <activity
            android:name=".LocationConditionActivity"
            android:label="@string/title_activity_location_condition" >
        </activity>
        <activity
            android:name=".MyMatchActivity"
            android:label="@string/title_activity_my_match" >
        </activity>
        <activity
            android:name=".AppliedTeamActivity"
            android:label="@string/title_activity_applied_team" >
        </activity>
        <activity
            android:name=".MyMatchActivity"
            android:label="@string/title_activity_my_match_activity2" >
        </activity>
        <activity
            android:name=".MyApplicationActivity"
            android:label="@string/title_activity_my_application" >
        </activity>
        <activity
            android:name=".TeamInfoActivity_"
            android:label="@string/title_activity_team_info" >
        </activity>
        <activity
            android:name=".TeamInfoActivity"
            android:label="@string/title_activity_team_info" >
        </activity>
        <activity
            android:name=".AddFindPlayerActivity"
            android:label="@string/title_activity_add_find_player" >
        </activity>
        <activity
            android:name=".FindPlayerDetailActivity"
            android:label="@string/title_activity_find_player_detail" >
        </activity>
        <activity
            android:name=".SetFindPlayerConditionActivity"
            android:label="@string/title_activity_set_find_player_condition" >
        </activity>
        <activity
            android:name=".AddFindTeamActivity"
            android:label="@string/title_activity_add_find_team" >
        </activity>
        <activity
            android:name=".SetFindTeamConditionActivity"
            android:label="@string/title_activity_set_find_team_condition" >
        </activity>
        <activity
            android:name=".FindTeamDetailActivity"
            android:label="@string/title_activity_find_team_detail" >
        </activity>
        <activity
            android:name=".ScrapActivity"
            android:label="@string/title_activity_scrap" >
        </activity>
    </application>

</manifest>
